<%= render 'shared/search_form' %>

<div class="articles-container">
  <% @articles.each do |article| %>
    <div class="article-card">
      <h3 class="article-title"><%= article.title %></h3>
      <div class="article-author"><%= article.author %></div>
      <div class="article-meta">
        <span class="article-category"><%= article.category %></span>
        <div class="article-date"><%= article.published_at&.strftime('%B %d, %Y') %></div>
      </div>
    </div>
  <% end %>
</div>
