<h1>Articles</h1>

<%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Published At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td><%= article.category %></td>
        <td><%= article.published_at&.strftime('%B %d, %Y') %></td>
        <td>
          <%= link_to 'Show', article_path(article), class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
          <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
