<h1><%= @article.title %></h1>

<p><strong>Author:</strong> <%= @article.author %></p>
<p><strong>Category:</strong> <%= @article.category %></p>
<p><strong>Published At:</strong> <%= @article.published_at&.strftime('%B %d, %Y') %></p>
<p><strong>Tags:</strong> <%= @article.tags['keywords']&.join(', ') %></p>
<p><strong>Content:</strong></p>
<p><%= simple_format(@article.content) %></p>

<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>
<%= link_to 'Back', articles_path, class: 'btn btn-secondary' %>
